<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="description" content="ThinkScribe Backend API" />
    <meta name="keywords" content="ThinkScribe, API, Backend, Documentation" />
    <meta name="author" content="ThinkScribe Team" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#ffffff" />
    <title>Welcome</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
      }
      pre {
        font-family: monospace;
        text-align: center;
        margin-bottom: 20px;
      }
      h1 {
        color: #333;
      }
    </style>
  </head>
  <body>
    <pre>                          
                           **###                            
                          ### ####                          
                        ####    ###                         
                       ###   %%  ###%                       
                     ####  %%%%%   ##%    #                 
              ===   ###   %%%@@%%   %%%%  #**               
             ==== ####   %%%@  @%%@   %%%  ***#             
            ==== #*#     %%     @%@@   %%%  ***#            
          ++==== ###    %%%%%%%%@@@@    %%  ****#           
         +++====  ###                 %%%@ #****##          
         +++===++  ####   @%%@@@@@   %%%   ****####         
         +++++++++  ####  @%@@@@@@ %%%%   #########         
         ++++++++++   ###%       %%%%   ###########         
         +++****++++**  ###%%%%%%%%   #############         
          **************  %%%%%%%%  %####%%%%####%          
           ****########**#%%%%%%%%%%%%%%%%%%%%%%            
             #*#########%%%%% @%%%%%%%%%%%%%%%%             
              ##*#######%%%%    %%%%#########               
                #######%%%%%    @%%%%######                 
                  ###%%%%%%%%@@@%%%%%%%%##                  
                    %%%%%%%%%%%%%%%%%%%%                    
                      %%%%%%%%%%%%%%%%                      
                        %%%%%%%%%%%@                        
                                                                                                              
    </pre>
    <h1>Welcome to the ThinkScribe Backend</h1>
    <p>
      To get started, please refer to the API documentation.
      <a href="/docs">view Swagger docs</a>
    </p>
  </body>
</html>
